*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
  background: #000000;
}
.main-header{
    background-color: #000000;
    position: fixed;
    width: 100%;
    height: 6rem;
    z-index: 50;
}
li{
    list-style: none;
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
.navigation-menu{
    min-height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 4rem;
}
.navigation-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.75rem;
}

nav img{
    max-width: 6.25rem;
    height: 5vh;
}

 .navigation-field{
    transition: 0.9s ease;
}
.navigation-field:hover{
    color: #f44336;
} 

.mobile-view{
    display: none;
    cursor: pointer;
}

.navigation-bar{
    display: block;
    width: 1.56rem;
    height: 0.2rem;
    margin: 0.3rem auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;   
}
/* .get_btn{
margin-left: 10rem;
} */

.get_btn a {
    font-size: 16px;
    color: #fff;
    background-color: #000000;
    background-color: #454545;
    padding: 0.4rem 1rem;
    border: 0.125rem solid black;
    border-radius: 2.5rem;
    text-transform: uppercase;
}
.get_btn a:hover {
    color: #fff;
    background-color: #000000;
} 

@media(max-width:768px){
  .mobile-view{
        display: block;
    }
    .mobile-view.active .navigation-bar:nth-child(2){
        opacity: 0;
    }
    .mobile-view.active .navigation-bar:nth-child(1){
        transform: translateY(0.5rem) rotate(45deg);
    }
    .mobile-view.active .navigation-bar:nth-child(3){
        transform: translateY(-0.5rem) rotate(-45deg);
    }
    .navigation-list{
        position: absolute;
        left: -100%;
        top: 5.3rem;
        gap: 0;
        flex-direction: column;
        background-color: #000000;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .navigation-item{
        margin: 1rem 0;
    }
    .navigation-list.active{
        left: 0;
    }
}


/* Introduction session */
.container-fluid{
    background-image: url('../IMAGES/pics15.png');  
    background-repeat: no-repeat;
    background-size: 100% 100%;  
    display: flex;
    min-height: 80vh;
    gap: 1rem;
    padding-top: 5rem; 
 
    /* width: 100%; */
}

.Introduction-text{
    flex: 1 1 17rem;
    padding: 6.25rem;
    margin-top: 0.01rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    
}

.Introduction-image{
    flex: 1 1 17rem;
    padding: 4.3rem;
    margin-top: 5px;
}

.Introduction--picture1{
    width: 100%;
    height:24em;
    padding-right: 0.5rem;
   
}
.Introduction-text h1{
    padding-top: 10rem;
    font-size: 2rem;
    color: #FFFFFF;
    font-weight: bolder;
}

.btn{
    padding: 0.4rem 2rem;
    /* border: 0.125rem solid black; */
    border-radius: 2.5rem;
    text-transform: uppercase;
    color: black;
    font-weight: 500;
    background: #FFFFFF;
    margin-left: 8rem;
}
.btn:hover{
    color: #FFFFFF;
    background: #964B00;
} 
@media (max-width: 768px) {
    .Introduction{
    padding-top: 4rem;
    display: flex;
    }
    .Introduction-image{
    flex: 100%;
    padding: 0.1rem;
    }
    .Introduction--picture1{
    height: auto;
    width: 100%;
    }
    .Introduction-text h1{
    font-size: 2rem;
    } 
}
/* Buy now section */
.container-sm{
  display: flex;
  min-height: 90vh;
  gap: 1rem;
  padding-top: 5rem; 

  /* width: 100%; */
}

.buy-now-text{
  flex: 1 1 17rem;
  padding: 6.25rem;
  margin-top: 0.01rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  
}
.buy-now-image{
  flex: 1 1 17rem;
  padding: 4.3rem;
  margin-top: 5px;
  height: 70vh;
}
.buy-now--picture1{
  width: 100%;
  height:24em;
}
.buy-now-text h1{
  /* padding-top: 1rem; */
  font-size: 2rem;
  color: #FFFFFF;
  font-weight: bolder;
}
.buy-now-text h2{
  padding-top: 5rem;
  font-size: 2rem;
  color: #FFFFFF;
  font-weight: bolder;
}
/* .buy-now-text h6{
  padding-top: 10rem;
  padding-left: 3rem;
  font-size: 0.5rem;
  color: #FFFFFF;
  font-weight: bolder;
}
.buy-now-text h4{
  /* padding-top: 1rem; 
  font-size: 1rem;
  color: #FFFFFF;
  font-weight: bolder;
} */
.buy-now-btn{
  padding: 0.4rem 2rem;
  /* border: 0.125rem solid black; */
  border-radius: 2.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: black;
  font-weight: 500;
  background: #FFFFFF;
  margin-left: 5rem;
}
.buy-now-btn:hover{
  color: #FFFFFF;
  background: #964B00;
} 

/* Slidder section */
.sect-title{
  color: #FFFFFF;
  font-size: 0.6rem;
  margin-top:2rem;
  padding-left: 2rem;


}
.main-carousel{
  margin-top: 2rem;
  margin-bottom: 5rem;
  margin-right: 1rem;
  margin-right: 1rem;
  background: #000000;
  height: 55.5vh;
}
.carousel-cell{
  width: 19%;
  height: 300px;
  margin-right: 0.5rem;
  margin-right: 0.5rem;
  padding-left: 2rem;
  /* margin: 25px; */
  /* overflow: hidden; */
  border-radius: 10px;
}
.carousel-cell img{
  width: 100%;
  height: 300px;
  /* object-fit: cover; */
}
/**/
.design-section{
  width: 100%;
  height: 30vh;
  background: #000000;
  text-align: center;
}
/* .message-img{
  padding-top: 6rem;
} */
.design-text{
  padding-top: 3rem;
}
.design-text h1, p{
  color: #FFFFFF;
}


/*Sounds section*/
.sounds1{
  background-image: url('../IMAGES/background\ pics.png');  
  background-repeat: no-repeat;
  display: flex;
  min-height: 70vh;
  padding-top: 2rem; 
  width: 100%;
}

.sounds-text{
  flex: 1 1 17rem;
  padding: 6.25rem;
  margin-top: 0.01rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  
}

.sounds-image{
  flex: 1 1 17rem;
  padding: 4.3rem;
  margin-top: 5px;
}

.sounds-picture1{
  width: 100%;
  height:24em;
 
}
.sounds-text h1{
  padding-top: 4rem;
  padding-left: 6rem;
  font-size: 2rem;
  color: #FFFFFF;
  font-weight: bolder;
}
.sounds-text h3{
  font-size: 1rem;
  color: #FFFFFF;
  padding-left: 6rem;

}

.sounds-btn{
  padding: 0.4rem 2rem;
  /* border: 0.125rem solid black; */
  border-radius: 2.5rem;
  text-transform: uppercase;
  color: black;
  font-weight: 500;
  background: #FFFFFF;
  margin-left: 8rem;
}
.sounds-btn:hover{
  color: #FFFFFF;
  background: #964B00;
} 
/* @media (max-width: 768px) {
  .Introduction{
  padding-top: 4rem;
  display: flex;
  }
  .Introduction-image{
  flex: 100%;
  padding: 0.1rem;
  }
  .Introduction--picture1{
  height: auto;
  width: 100%;
  }
  .Introduction-text h1{
  font-size: 2rem;
  }  
}*/

/*Battery section*/
.container-xxl{
  display: flex;
  height: 90vh;
  gap: 1rem;
  padding-top: 0.5rem; 
  width: 100%;
  background: #000000;
}

.bat-information-text{
  flex: 1 1 17rem;
  padding: 6.25rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  padding-left: 6rem;
  
}

.bat-image{
  flex: 1 1 17rem;
  padding: 4.3rem;
  padding-right: 7rem;
  /* margin-top: 5px; */
}

.bat-image1{
  width: 100%;
  height:24em;
 
}
.bat-information-text h1{
  padding-top: 0.5rem;
  font-size: 2rem;
  color: #FFFFFF;
  font-weight: bolder;
}
.bat-information-text p{
  color: #FFFFFF;
}

/* .btn{
  padding: 0.4rem 2rem;
  border-radius: 2.5rem;
  text-transform: uppercase;
  color: black;
  font-weight: 500;
  background: #FFFFFF;
  margin-left: 8rem;
}
.btn:hover{
  color: #FFFFFF;
  background: #964B00;
}  */
/* @media (max-width: 768px) {
  .bat-image{
  flex: 100%;
  padding: 0.1rem;
  }
  .bat-image1{
  height: 150vh;
  width: 100%;
  }
  .bat-information-text h1{
  font-size: 2rem;
  } 
} */

/* Related product section */
.card-section{
    width: 100%;
    background: #000000;
    height: 100vh;
    padding-bottom: 3rem;
}
.info-area{
    height: 11vh;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 2rem;

}    
.product-info{
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.info-btn{
    padding: 0.4rem 1rem;
    border-radius: 3rem;
    text-transform: uppercase;
    color: black;
    font-weight: 500;
    background: #FFFFFF;
    margin-left: 50rem;
    /* padding-top: 0.5rem; */

}
.info-btn:hover{
    color: #FFFFFF;
    background: #964B00;
}

.card{
    height: 82vh;
    width: 14rem;
}
.card-img-top{
  width: 100%;
  height: 50vh;
}

.card-text {
  color: #000000;
}
.card-text span{
  color: #454545;
}
.btn1{
    padding: 0.4rem 1rem;
    border-radius: 2.5rem;
    color: black;
    font-weight: 500;
    background: #FFFFFF;
    margin-left: 3rem;

}
.btn1:hover{
    color: #FFFFFF;
    background: #964B00;
}

/*Message section*/
.message-section{
    width: 100%;
    height: 65vh;
    background: #000000;
    text-align: center;
}
.message-img{
    padding-top: 6rem;
}
.message-text{
    padding-top: 3rem;
}
.message-text h5{
    padding-bottom: 3rem;
    color: #FFFFFF;
}
.button{
    padding: 0.4rem 1rem;
    /* border: 0.125rem solid black; */
    border-radius: 2.5rem;
    text-transform: uppercase;
    color: black;
    font-weight: 500;
    background: #FFFFFF;
    margin-left: 3rem;

}
.button:hover{
    color: #FFFFFF;
    background: #964B00;
}

/* footer Starts*/
footer{
    position: relative;
    background-color: #000000;
    width: 100%;
    /* bottom: 0; */
    left: 0;
    /* height: 15rem; */
   }
  /* footer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 5.6rem;
    height: 0.063rem;
    width: 100%;
    background: #afafb6;
  } */
  footer .footer-container{
    max-width: 78.1rem;
    margin: auto;
    padding: 1.8rem 2.5rem 2.5rem 2.5rem;
    margin-bottom: 3.1rem;
  }
  .footer-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 3.1rem; */
    background: #454545;
    width: 100%;
    height: 7rem;
    padding-left: 4rem;
    padding-right: 5rem;
  }
  .footer-container .footer-header .footer-header-name{
    color: #fff;
    font-size: 1.9rem;
  }
  .footer-container .footer-header .footer-social-media{

    display: flex;
  }
  .footer-container .footer-header .footer-social-media a{
    margin: 0 0.5rem;
    border-radius: 50%;
    text-align: center;
    line-height: 2.5;
    color: #fff;
    font-size: 3rem;
    text-decoration: none;
    transition: all 0.4s ease;
} 
/* .footer-header .footer-social-media a:nth-child(1){
} */
/* .footer-header .footer-social-media a:nth-child(1):hover{
color: #4267B2;
background: #fff;
} */
.footer-header .footer-social-media a:nth-child(2){
padding-left: 5rem;
}
/* .footer-header .footer-social-media a:nth-child(2):hover{
color: #1DA1F2;
background: #fff;
} */
.the_name{
    font-size: 1rem;

}
  
  footer .footer-container .footer-logo{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .footer-container .footer-logo img{
    max-width: 8.125rem;
    height: 30vh;
  }
  /*This is the css used to split the footer*/
  footer .footer-container .footer-logo .footer-information{
    width: calc(100% / 3 - 0.6rem);
    height: 10rem;
    margin-left: 8rem;
    margin-top: 4rem;

    
}

.footer-law img{
    height: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 6rem;
}

  .footer-container .footer-logo .footer-information .info-per-column{
    color: #fff;
    font-size: 1.13rem;
    font-weight: 400;
    margin-bottom: 0.625;
    position: relative;
    /* margin-left: 10rem; */
  }
  .footer-logo .footer-information .info-per-column::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.125rem;
    height: 0.125rem;
    width: 2.19rem;
    background: #fff;
  }
  .footer-container .footer-logo .footer-information h3{
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    /* text-decoration: none; */
    /* opacity: 0.8; */
    /* transition: all 0.4s ease; */
    margin-top: 1rem;
    text-transform: uppercase;

  }
  .footer-container .footer-logo .footer-information li{
    margin: 1rem 0;
    list-style: none;
  }
  .footer-container .footer-logo .footer-information li a{
    color: #fff;
    font-size: 0.9rem;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
  }
  
/* .footer-information{
    color: #fff;
    text-transform: uppercase;
    margin-top: 2rem;
} */

 
footer .legal-info{
    width: 100%;
    background: #000000;
  }
  footer .legal-info .legal-details{
    max-width: 78.1rem;
    margin: auto;
    padding: 1.2rem 2.5rem;
    display: flex;
    justify-content: space-between;
  }
  .legal-info .legal-details span,
  .legal-info .legal-details a{
    font-size: 0.9rem;
    font-weight: 300;
    opacity: 0.8;
    text-decoration: none;
  }
  .legal-info .legal-details a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .legal-info .legal-details a{
    margin-right: 0.6rem;
  }
  /* This media querry if for screen that is not more than 900px */
  @media (max-width: 900px) {
     footer .footer-container .footer-logo{
      flex-wrap: wrap;
    }
    footer .footer-container .footer-logo .input-box{
      width: 40%;
      margin-top: 0.6rem;
    } 
    footer::before{
      top: 5.3rem; 
    }
    .footer-container .footer-header .footer-header-name{
      font-size: 0.6rem;
    }
    .footer-container .footer-header .footer-header-name .the_name{
      font-size: 0.5rem;
    }
    .footer-container .footer-header .footer-social-media a{
      font-size: 1.1rem;   
    }
  }
  /* This media querry if for screen that is not more than 700px */
  @media (max-width: 700px) {
    footer{
      position: relative;
     }
    .footer-container .footer-header .footer-header-name{
      font-size: 1.6rem;
    }
  
    .footer-container .footer-header .footer-social-media a{
      height: 2.1rem;
      width: 2.1rem;
      font-size: 0.9rem;
      line-height: 2.2rem;
    }
     footer .footer-container .footer-logo .footer-information{
      width: calc(100% / 2 - 0.6rem);
    }
  
    footer .footer-container .footer-logo .input-box{
      width: 60%;
    } 
    .legal-info .legal-details span,
    .legal-info .legal-details a{
    font-size: 0.75rem;
  }
  }
  /* This media querry if for screen that is not more than 520px */
  @media (max-width: 520px){
    .main-header{
      height: 6rem;
      z-index: 50;
    }
    .card{
      height: 80vh;
      width: 6rem;  
    }
    .card-title{
      font-size: 0.9rem;
    }
    .card-text{
      font-size: 0.9rem;
    }
    .info-btn{
      margin-left: 15rem;
    }
    footer .footer-container .footer-header{
      flex-direction: column;
    }
    footer::before{
      top: 9rem;
    }
    .footer-container .footer-header .footer-social-media{
      margin-top: 1rem;
    }
    footer .footer-container .footer-logo .footer-information{
      width: calc(100% / 2 - 0.6rem);
      margin-bottom: 2rem;
      /* margin-top: 4rem; */
    }
    footer .footer-container .footer-logo .input-box{
      width: 100%;
    }
    .country-introduction h1 {
      text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
      border-radius: 10px;
      width: 70%;
      margin-top: 20rem;
      margin: 0 auto;
      font-size: 2rem;
    
    }
  }
  /* footer Ends*/
